<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Nathaniel</title>
</head>
<body>

    <h1>Nathaniel's FRQ Projects</h1>
    <ul>
        <li><a href="/nathan/recursion">Recursion (MergeSort)</a></li>
        <li><a href="/nathan/insertion">Insertion Sort</a></li>
        <li><a href="/nathan/inheritance">Inheritance</a></li>
        <li><a href="/nathan/multi-sort">Multi-Sort</a></li>
        <li><a href="/nathan/linked-list">LinkedList</a></li>
    </ul>

    <h3>TPT</h3>
    <ul>
        <li><a href="/nathan/tpt-lesson">FRQ Lesson</a> </li>
    </ul>
</body>
</html>