<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insertion | Nathan</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

</head>
<body>

    <h1>Insertion sort</h1>
    <p>This is a demonstration of insertion sort.</p>

    <div style="width: 1000px;">
        <canvas id="bar-chart"></canvas>
    </div>


    <h3>Use the buttons to increment or the slider to scrub through the steps of insertion sort</h3>
    <div class="step-increment">
        <h3 id="step-text">Step: </h3>
        <button id="step-down" class="btn">Back</button>
        <button id="step-up" class="btn">Next</button>
        <br>
        <div class="sr-c">
            <input type="range" min="1" th:max="${length}" value="1" id="step-slider" step="1">
        </div>
    </div>


    <form th:action="@{/nathan/insertion}">
        <label for="length">Array length</label>
        <input type="number" min="10" max="40" id="length" th:name="length" th:value="${length}">

        <label for="length">Random Ceiling</label>
        <input type="number" min="20" max="100" id="randomCeil" th:name="randomCeil" th:value="${randomCeil}">
        <input type="submit">
    </form>

</body>

<script th:inline="javascript">
    var list = /*[[${steps}]]*/ [];


    var step = 0;

    const setStepText = () => {
        document.getElementById("step-text").innerHTML = `step: ${step+1} / ${list.length}`
    }

    setStepText();

    const getRandColors = () => {
        const colors = [];
        for(var i=0;i<list[0].length;i++){
            colors.push('#'+(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0'));
        }
        return colors;
    }

    const getLabels = () => {
        const labels = [];
        for(var i=0;i<list[0].length;i++){
            labels.push("");
        }
        return labels;
    }

    var myBarChart = new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: getLabels(),
          datasets: [
            {
              backgroundColor: getRandColors(),
              data: list[step]
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'Different values in array'
          },
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
        }
    });

    const setStep = (val) => {
        step = val;
        myBarChart.data.datasets[0].data = list[step];
        myBarChart.update();
        setStepText();
    }

    document.getElementById("step-up").addEventListener("click", function(){
        if(step<list.length-1){
            console.log("up")
            setStep(step+1);
            /*
            step += 1;
            myBarChart.data.datasets[0].data = list[step];
            myBarChart.update();
            setStepText();*/
        }

    });

    document.getElementById("step-down").addEventListener("click", function(){
        if(step>0){
            console.log("down")
            setStep(step-1);
            /*
            step -= 1;
            myBarChart.data.datasets[0].data = list[step];
            myBarChart.update();
            setStepText();*/
        }
    });


    document.getElementById('step-slider').max = list.length;
    document.getElementById('step-slider').addEventListener('input', function () {
        const val = parseInt(this.value);
        setStep(val-1);
    }, false);

</script>

<style>
    .btn{
        padding:1%;
        font-size: 2rem;
    }

    .sr-c{
        padding: 1%;
    }

    #step-slider{
        width: 300px;
    }
</style>


</html>