<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LinkedList | Nathan </title>
</head>
<body>

    <h1>Linked Lists</h1>

    <div th:each="item: ${linkedList}">
        <div class="item" th:classappend="'index-'+${itemStat.index}">
            <div th:switch="${itemStat.index}">
                <p th:case="0"><bold>HEAD</bold></p>
            </div>

            <p th:text="${item}"></p>
        </div>
    </div>


    <input type="number" id="num-input" placeholder="number here">
    <button onclick="addHead()">Add to Head</button>
    <button onclick="addTail()">Add to Tail</button>

    <button onclick="remHead()">Remove Head</button>
    <button onclick="remTail()">Remove Tail</button>

</body>

<script>

    const getVal = () => {
        return document.getElementById('num-input').value
    }

    function addHead(){
        fetch('/nathan/linked-list?addHead='+getVal()).then(response => {
            location.reload();
        });
    }

    function addTail(){
        fetch('/nathan/linked-list?addTail='+getVal()).then(response => {
            location.reload();
        });
    }

    function remHead(){
        fetch('/nathan/linked-list?remHead=true').then(response => {
            location.reload();
        });
    }

    function remTail(){
        fetch('/nathan/linked-list?remTail=true').then(response => {
            location.reload();
        });
    }

</script>

<style>
    .item{
        width: 100px;
        height: 100px;
        margin: 20px;
        background-color: red;
    }

    .index-0{
        background-color: yellow !important;
    }
</style>
</html>