<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Multi-Sort | Nathaniel</title>
</head>
<body>

<h1>Multi sort</h1>
<p>This is a demonstration of all of the different sorts in APCSA </p>

<div class="data">
    <table>
        <tr>
            <th>index</th>
            <th th:text="${dataType}"></th>
        </tr>

        <tr th:each="s: ${sortedData}">
            <td th:text="${sStat.index}" />
            <td th:text="${s}" />
        </tr>

    </table>
</div>

<form th:action="@{/nathan/multi-sort}">
    <div>
        <legend>Sort type:</legend>
        <input type="radio" th:name="sortType" id="insertion" th:value="insertion" required>
        <label for="insertion">Insertion Sort</label>
        <input type="radio" th:name="sortType" id="bubble" th:value="bubble">
        <label for="bubble">Bubble Sort</label>
        <input type="radio" th:name="sortType" id="selection" th:value="selection">
        <label for="selection">Selection Sort</label>
    </div>

    <div>
        <legend>Data type:</legend>
        <input type="radio" th:name="dataType" id="integer" th:value="integer" required>
        <label for="integer">Integer</label>
        <input type="radio" th:name="dataType" id="string" th:value="string">
        <label for="string">String</label>
        <input type="radio" th:name="dataType" id="car" th:value="car">
        <label for="car">Car</label>
    </div>

    <input type="submit">
</form>

<div th:switch="${sortType}" class="content">

    <div th:case="'insertion'" class="description">
        <h3>Insertion Sort</h3>
        <p>This sort works by splitting the array into a "sorted" and "unsorted" section.</p>
        <p>Items are moved from the unsorted section into their respective spot in the sorted section.</p>
        <p>This means that sort must iterate through unsorted array for every element.</p>
        <p><b>Time complexity</b> </p>
        <p>Worst Case: <b>O(n²)</b></p>
        <p>Best Case: <b>O(n)</b></p>
    </div>

    <div th:case="'bubble'" class="description">
        <h3>Bubble Sort</h3>
        <p>This sort simply looks at 2 adjacent elements at a time and swaps if necessary.</p>
        <p>Sort looks at all elements in the array by twos until it can go through without mutating.</p>
        <p><b>Time complexity</b> </p>
        <p>Worst Case: <b>O(n²)</b></p>
        <p>Best Case: <b>O(n)</b></p>
    </div>

    <div th:case="'selection'" class="description">
        <h3>Selection Sort</h3>
        <p>This sort divides the array into "sorted" and "unsorted" elements.</p>
        <p>It scans through the <i>entire</i> array to find the smallest value and swaps to the front of unsorted array, (essentialy adding to sorted section)</p>
        <p><b>Time complexity</b> </p>
        <p>Worst Case: <b>O(n²)</b></p>
        <p>Best Case: <b>O(n)</b></p>
    </div>

    <div th:case="*" class="description">
        <p>Click Submit to get started!</p>
    </div>
</div>

</body>

<script th:inline="javascript">
    var sortType = /*[[${sortType}]]*/ ||= "insertion";
    var dataType = /*[[${dataType}]]*/ ||= "integer";
    sortType ||= "insertion";
    dataType ||= "integer";

    console.log(sortType, dataType);
    document.getElementById(sortType).setAttribute("checked","checked")
    document.getElementById(dataType).setAttribute("checked","checked")
</script>

<style>
    .description{
        margin-top: 50px;
    }
</style>

</html>