<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TPT-Lesson | Nathaniel</title>
</head>
<body>

    <h1>TPT Lesson</h1>

    <p>Topics covered</p>
    <ul>
        <li>Primitives</li>
        <li>Object Oriented, Writing classes</li>
        <li>Booleans + flow control</li>
        <li>Iteration</li>
        <li>Arrays</li>
        <li>Inheritance</li>
    </ul>

    <div class="gist__container">
        <script src="https://gist.github.com/nathanielCherian/7d2f235e012cb1e4132af8cff47e09cf.js"></script>
    </div>

</body>

<style>
    .gist__container{
        align-items: center;
    }
</style>

</html>