body {
    background-color: #455a64;
}
h1 {
  color: white;
  text-align: center;
  font-family: verdana;
}
h3 {
  color: white;
  text-align: center;
  font-family: verdana;
}
p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}