<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Dhruv</title>
</head>
<body>
<h1>Dhruv's Projects</h1>

<h2>Recursion</h2>
<ul>
    <li><a href="/dhruv/recursion">Recursion Test Labs</a></li>
</ul>

<h2>Inheritance</h2>
<ul>
    <li><a href="/dhruv/inheritance">Inheritance Test Lab</a></li>
</ul>


<h2>Insertion</h2>
<ul>
    <li><a href="/dhruv/insertion">Insertion Test Lab</a></li>
</ul>

<h2>Linked List Quick Sort</h2>
<ul>
    <li><a href="/dhruv/linkedlist">Recursion Test Labs</a></li>
</ul>

</body>
</html>