<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreeKashmir FRQs</title>
</head>
<body>

    <!--TODO: Create title class to stand out and give the user something interesting to look at-->
    <div class="title">
        <h1>FreeKashmir AP FRQ Collection</h1>
    </div>

    <!--TODO: Create top class in css to relate to this part, text should be a bit large but less so than the main title-->
    <div class="top">
        <h2>Latest FRQ</h2>
    </div>

    <!--TODO: Create main class in css to relate to this part-->
    <div class="main">
        <h3>Meet the team:</h3>
        <p>Nathan C ~ </p>
        <br>
        <p>Anthony V ~ </p>
        <br>
        <p>Eyaad M ~ </p>
        <br>
        <p>Dhruv K ~ </p>
        <br>
        <p>Tanay Shah ~ </p>
        <br>
    </div>
</body>
</html>