<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="static/anthony.css">
    <meta charset="UTF-8">
    <title>Recursion Lesson | Anthony</title>
</head>

<body>
<h1>Recursion Lesson</h1>
<p>A step by step walkthrough of a recursive function. Input a number to find what its corresponding term in the Fibonacci sequence is. The function repeats steps as it runs multiple threads. Since the function calls itself, steps for branching threads will also be shown. For example, running the function with a size of 5 will show the steps for calling the function with values of 3, 2, and 1.</p>

<h2>Fibonacci</h2>
<form th:action="@{/anthony/recursionlesson}">
    <label>Enter a term for the fibonacci sequence</label>
    <br />
    <input type="number" min="-10" max="20" th:name="size" th:value="${size}">
    <input type="submit">
</form>
<p th:utext="${process}"></p>
<p th:text="${answer}"></p>
<p th:text="${time}"></p>

<script src="https://gist.github.com/tonyhieu/791ad23b1764e22f98d99314dd88993d.js"></script>

</body>